src/main/webapp/schemas/AccountDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org/Account" targetNamespace="http://www.example.org/Account" xmlns:tns="http://www.example.org/Account" elementFormDefault="qualified">

   <xs:element name="Account" type="Account"/>  
      <xs:complexType name="Account">  
           <xs:sequence>  
                <xs:element name="AccountNumber" type="xs:string"/>  
                <xs:element name="AccountName" type="xs:string"/>  
                <xs:element name="AccountBalance" type="xs:double"/>  
           </xs:sequence>  
      </xs:complexType>  
</xs:schema>