WebContent/wsdl/EmployeeServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ws.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ws.com" xmlns:intf="http://service.ws.com" xmlns:tns1="http://model.ws.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.com"/>
   <element name="searchEmp">
    <complexType>
     <sequence>
      <element name="emp" type="tns1:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchEmpResponse">
    <complexType>
     <sequence>
      <element name="searchEmpReturn" type="tns1:Employee"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Employee">
    <sequence>
     <element name="department" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchEmpResponse">

      <wsdl:part element="impl:searchEmpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchEmpRequest">

      <wsdl:part element="impl:searchEmp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeServiceImpl">

      <wsdl:operation name="searchEmp">

         <wsdl:input message="impl:searchEmpRequest" name="searchEmpRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchEmpResponse" name="searchEmpResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeServiceImplSoapBinding" type="impl:EmployeeServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchEmp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchEmpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchEmpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeServiceImplService">

      <wsdl:port binding="impl:EmployeeServiceImplSoapBinding" name="EmployeeServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/WSTest/services/EmployeeServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
